/* 
#82AAE3
#91D8E4
#BFEAF5
#EAFDFC */

html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    height: 100vh;
    background-color: #bfeaf5;
  }
  .navbar {
    z-index: 1;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-bottom: 35px;
  }
  .navbar h1 {
    color: #82aae3;
    margin-right: 400px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  .navbar a img {
    padding-right: 15px;
    cursor: pointer;
    padding-bottom: 3px;
  }
  .navbar li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-right: 25px;
    font-weight: bold;
  }
  .navbar li a:hover {
    color: #82aae3;
    transition: 0.8s;
  }
  .navbar li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #82aae3;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .navbar li:hover::after {
    width: 80%;
    margin-right: 30px;
  }
  .navbar li img {
    width: 70px;
  }
  #kyqu {
    background-color: #82aae3;
    border-radius: 20px;
    padding-left: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  #kyqu:hover {
    color: #91d8e4;
    background-color: #91d8e4;
    transition: 0.8s;
  }



  .main{
    display: flex;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .left-part{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .left-part img{
    width: 400px;
    height: 215px;
  }
  .right-part{
    background-color: #a8cbe7;
    border-radius: 20px;
    width: 600px;

  }
  .right-part h2{
    text-align: center;
    padding-top: 15px;
  }
  .right-part p{
    padding: 10px 10px;
    font-size: 18px;
  }


  .contain {
    max-width: 1170px;
    margin: auto;
    margin-left: 400px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }

  .footer {
    background-color: white;
    padding: 70px 0;
  }
  .footer-col {
    width: 25%;
    padding: 0 10px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #82aae3;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #82aae3;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    padding-left: 5px;
  }
  #socials {
    padding-left: 30px;
  }
  .cnt {
    color: black;
  }